@import org.joda.time.format.DateTimeFormat
@(applications: Seq[AppAuthorisation])(implicit request: Request[_])

@body = {

    <div class="content__body">

        <header>
            <h1>Authorised software applications</h1>
        </header>

        @if(applications.isEmpty) {
            <p data-info-message>There are currently no applications which have access to HMRC data. If you want to grant permission to an application, you must do so in the application itself.</p>
        } else {
            <p data-info-message>You have granted permission to the following software applications to access HMRC data. You can with withdraw this permission at any time.</p>

            @defining(DateTimeFormat.forPattern("dd MMMM yyyy")) { dateFormatter =>
                <ul>
                    @for(app <- applications) {
                        <li>
                            <details data-@{app.application.id}>
                                <summary data-name-@{app.application.id}>
                                    @{app.application.name}
                                </summary>
                                <div class="panel-indent">
                                    <p>
                                        <strong>This application can perform the following actions in relation to HMRC data:</strong>
                                    </p>
                                    <ul class="bullets">
                                    @for(scope <- app.scopes) {
                                        <li data-scope-@{app.application.id}='@{scope.key}'>
                                            @{scope.description}
                                        </li>
                                    }
                                    </ul>
                                    <p data-grant-date-@{app.application.id}>
                                        <strong>Permission granted on:</strong> @{dateFormatter.print(app.earliestGrantDate)}
                                    </p>
                                    <form action="application/@{app.application.id}/withdraw-permission" method="get">
                                        <input data-withdraw-permission-@{app.application.id} type="submit" class="button" value="Withdraw permission"/>
                                    </form>
                                </div>
                            </details>
                        </li>
                    }
                </ul>
            }

            <p class="faded-text">You can grant permission to software to access data in the software application itself.</p>
        }
    </div>
}

@main_template(title = "Authorised software applications", bodyClasses = None) {
    @body
}