@(application: ApplicationDetails)(implicit request: Request[_])

@body = {
    <div class="content__body">
        <header>
            <h1>Authority removed</h1>
        </header>

        <p data-withdrawn-message>
            <strong>@{application.name}</strong> no longer has authority to interact with HMRC on your behalf.
        </p>

        <p class="faded-text">You can grant authority again in the <strong>@{application.name}</strong> application.</p>
        <p>
            <a data-applications-link href="@controllers.routes.Revocation.listAuthorizedApplications">
                Continue to your authorised software applications.
            </a>
        </p>
    </div>
}

@main_template(title = "Authority removed") {
    @body
}