@()(implicit request: Request[_], messages: Messages)

@body = {
    <div class="content__body">
        <header>
            <h1>Authority removed</h1>
        </header>

        <p data-withdrawn-message>This application no longer has authority to interact with HMRC on your behalf.</p>

        <p>You can grant authority again in the application itself.</p>

        <p>
            <a data-applications-link href="@controllers.routes.Revocation.listAuthorizedApplications">
                Continue to your authorised software applications.
            </a>
        </p>
    </div>
}

@main_template(title = "Authority removed") {
    @body
}