@()(implicit request: Request[_])

@main_template(title = "Withdraw permission to software accessing HMRC data", bodyClasses = None) {
    <h1>Withdraw permission to software accessing HMRC data</h1>
    <p>You may have granted permission to third-party software applications to access your or your client’s HMRC data. You can use this service to:</p>
    <ul>
        <li>see the applications you have granted permission to</li>
        <li>withdraw permission from those applications</li>
    </ul>
    <p>Note that if you withdraw permission, it may stop the application from working.</p>
}