@()(implicit request: Request[_])

@body = {

    <div class="content__body">

        <header>
            <h1>Withdraw permission to software accessing HMRC data</h1>
        </header>
        <p>You may have granted permission to third-party software applications to access your or your client’s HMRC data. You can use this service to:</p>
        <ul class="bullets">
            <li>see the applications you have granted permission to</li>
            <li>withdraw permission from those applications</li>
        </ul>
        <p>Note that if you withdraw permission, the application will lose the functionality associated with the data it is accessing.</p>

        <a data-start-button href="@routes.Revocation.listAuthorizedApplications" class="button button--get-started">Start now</a>
    </div>
}

@main_template(title = "Withdraw permission to software accessing HMRC data", headerNavLinks = None) {
    @body
}