@()(implicit request: Request[_])

@body = {

    <div class="content__body">

        <header>
            <h1>Manage the authority you have granted to software applications</h1>
        </header>
        <p>You may have granted authority to one or more software applications to interact with HMRC.</p>
        <p>You can use this service to:</p>
        <ul class="bullets">
            <li>see the applications you have granted authority to</li>
            <li>remove the authority from those applications</li>
        </ul>

        <a data-start-button href="@routes.Revocation.listAuthorizedApplications" class="button button--get-started">Start now</a>
    </div>
}

@main_template(title = "Withdraw permission to software accessing HMRC data", headerNavLinks = None) {
    @body
}