@(application: ApplicationDetails)(implicit request: Request[_])

@body = {
    @helper.form(action = controllers.routes.Revocation.withdrawAction(application.id), 'class -> "form") {
        @helper.CSRF.formField
        <div class="content__body">
            <header>
                <h1>Remove authority</h1>
            </header>

            <div data-withdraw-warning class="highlight-message highlight-message--full-width">
                <span>You are about to remove authority from <strong>@{application.name}</strong>.</span>
            </div>
        </div>

        <div class="form-field form-field--submit">
            <input id="submit" type="submit" class="button" role="button" value="Confirm"/>
            <a data-cancel-withdraw-permission href="@controllers.routes.Revocation.listAuthorizedApplications" class="button button--link">Cancel</a>
        </div>
    }
}

@main_template(title = "Withdraw permission") {
    @body
}